<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Achievement-driven professional with an experience of nearly 1 year.</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>{{ user.user.get_full_name }}</h4>
            <p><em>Innovative and deadline-driven Developer with 1+ years of experience designing and developing user-centered application from initial concept to final, polished deliverable.</em></p>
            <ul>
              <li>{{ user.address }}</li>
              <li>{{ user.phone }}</li>
              <li>{{ user.user.email }}</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <!-- <div class="resume-item">
            <h4>Master of Fine Arts &amp; Graphic Design</h4>
            <h5>2015 - 2016</h5>
            <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
            <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
          </div> -->
          <div class="resume-item">
            <h4>Bachelor of Engineering (Computer Science)</h4>
            <h5>2013 - 2014</h5>
            <p><em>Ahmedabad Institute of Technology, Ahmedabad, Gujarat, India</em></p>
            <p>In my Engineering career i have learned a lot like data structure and algorithms. Complete task under lot of pressure and also in timely manner and This all makes me good developer.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Junior Software Engineer</h4>
            <h5>2020 - Present</h5>
            <p><em>Trimantra Softwares LLP, Surat, Gujarat, India </em></p>
            <ul>
              <li>Lead in the design, development, and implementation of the application.</li>
              <li>Delegate tasks to the 7 members of the designer and developer team and provide counsel on all aspects of the project. </li>
              <li>Supervise the assessment of all functions in order to ensure quality and accuracy of the application.</li>
              <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>PHP Web Developer</h4>
            <h5>2015 - 2016</h5>
            <p><em>SiliconLeaf Corporation, Surat, Gujarat, India</em></p>
            <ul>
              <li>Developed numerous programs for backend functionality and REST API Services.</li>
              <li>Managed up to 3 projects or tasks at a given time while under pressure</li>
              <li>Recommended and consulted with clients on the most appropriate functionality</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
</section><!-- End Resume Section -->